<!DOCTYPE html>
<html lang="en">
<head>
    <title>文章-腾宇计算机</title>
    {include file="public/meta"/}
    <link rel="stylesheet" href="/static/index/css/information.min.css"/>
    <style>
        @media screen and (min-width: 320px) and (max-width: 640px) {
            .img_med {
                width: 100%;
                height: 220px;
            }
        }
    </style>
</head>
<body>
<!-- start navigation -->
{include file="public/header"/}
<!-- end navigation -->
<!--start banner-->
<section id="banner_area">
    <div style="width: 100%;height: 460px">
        <img src="/static/index/images/about-18.jpg" alt="about-18.jpg" style="width: 100%;height: 100%">
    </div>
</section>
<section class="container">
    <p><br></p>
    <p style="text-align: center;">
        <img class="img_med" src="/static/index/images/gyty_spec.jpg" title="1524459768106865.jpg" alt="gyty_spec.jpg"/>
    </p>
    <p style="text-align: center;">
        &nbsp; &nbsp; &nbsp;<span
            style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);">青岛腾宇计算机有限公司成立于2016年4月，是一家以APP开发、网站建设、软件定制开发、系统集成、技术服务等为主的高科技型企业，总部位于风景秀丽的海滨旅游城市青岛。</span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><br/></span></span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);">公司自成立以来，尊重人才，始终把诚信经营、精诚服务、精益求精作为公司的经营理念，荟萃业界精英，引进国内外先进的信息技术、管理方法及企业经验与企事业的具体实际相结合，为企事业单位提供全方位最优质的解决方案，帮助企事业单位提高管理水平和业务能力，使企事业在激烈的市场竞争中始终保持竞争力，实现企事业安慰快速、稳定地发展。</span></span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><br/></span></span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);">公司自组建以来先后与多家知名企业建立了合作关系，如国际知名企业阿里、京东，国内知名企业锐凌微、智云起点、青岛佳明测控等以及许多当地知名企业，服务过多个产品领域及类型。</span></span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);">公司拥有非常优秀的技术团队，在职员工全部为本科以上学历，其中在软件开发行业工作五年以上的工作人员占据了60%以上，并有多人取得软件开发工程技术认证证书，为开发出真正适合企业需求的软件产品提供了强有力的技术支持，令企事业单位得到最优质的服务和最好的投资回报。</span></span>
    </p>
    <p style="text-align: center;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><img
                src="/static/index/images/1524459870119434.png" title="1524459870119434.png"
                alt="tuceng3.png" class="img_med"/></span>
    </p>
    <p style="text-align: center;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="color: rgb(153, 153, 153); font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-align: center; text-indent: 28px; color: rgb(255, 255, 255);">公司组织结构图</span></span>
    </p>
    <p style="text-align: left;">
        <span style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);"><span
                style="font-family: 微软雅黑, 宋体, Arail, Tabhoma; font-size: 14px; text-indent: 28px; color: rgb(255, 255, 255);">青岛腾宇计算机有限公司由技术部、销售部、行政部财务部和商务部五大部门组成。技术部下设网站、微信开发部和应用类软件开发部。销售部分为三个组。行政部分为行政管理和人力资源。商务部分为运营部和客服部。</span></span>
    </p>
</section>
<!-- start copyright -->
{include file="public/footer"/}
</body>
</html>