<!DOCTYPE html>
<html lang="en">
<head>
    <title>腾宇计算机</title>
    {include file="public/meta"/}
    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/index/css/start.min.css">
</head>
<body id="top">
<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- end preloader -->
<!-- start navigation -->
{include file="public/header"/}
<!-- end navigation -->
<!-- start home -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">为客户打造真正有价值的<span>互联网平台</span></h1>
                <div class="element">
                    <div class="sub-element">腾宇计算机以诚信为本，精诚服务，精益求精</div>
                    <div class="sub-element">尊重人才，诚信经营，优良的团队合作，精诚服务客户，为客户创造最高的价值</div>
                    <div class="sub-element">有较强的责任心良好的团队意识，简单做人，高效做事，不断进取，诚信服务</div>
                </div>
                <a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50"
                   data-wow-delay="0.6s">关于我们</a>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">我们<span>商务合作</span></h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <h3 class="media-heading">资源互换</h3>
                    </div>
                    <div class="media-body">
                        <p>资源互换是一种双方商定在一段时间内彼此资源互换的一种形式。例如，甲乙双方公司，在一定时间内，甲方为乙方免费建设网站，乙方则为甲方免费宣传公司以及业务.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-comment-o"></i>
                        </div>
                        <h3 class="media-heading">基础开发</h3>
                    </div>
                    <div class="media-body">
                        <p>基础开发是才某一行业的基础上，通过我们公司进行某种功能的开发。例如，小渔家餐厅，要开发一款在线点餐的小程序，通过我们公司来实现这个功能.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-html5"></i>
                        </div>
                        <h3 class="media-heading">共同开发</h3>
                    </div>
                    <div class="media-body">
                        <p>共同开发是我们与同行业公司进行合作，优势互补，共同努力，最大程度化的满足客户的需求.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right wow fadeInLeft"><a href="/index/see/about" style="text-decoration: none">关于更多</a>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- start team -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>软件</span>定制</h2>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                         data-original="/static/index/images/items1.png" alt="img"/>
                    <div class="team-des">
                        <h4>办公软件</h4>
                        <span>自动化</span>
                        <p class="text_index_p">
                            OA面向组织的日常运作和管理员工级使用频率最高的应用系统，是一种主推无纸化办公，拥有自动化程度高、多分支机构，跨地域办公以及移动办公等特点.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                         data-original="/static/index/images/items2.png" alt="img"/>
                    <div class="team-des">
                        <h4>客户关系</h4>
                        <span>管理</span>
                        <p class="text_index_p">CRM有效提升领导的管理能力，提高业务工作人员的工作能力，避免客户的流失，保护并有效利用企业客户资源提高销售人员的工作效率和业绩.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                         data-original="/static/index/images/items3.png" alt="img"/>
                    <div class="team-des">
                        <h4>项目管理</h4>
                        <span>安全</span>
                        <p class="text_index_p">
                            PM在有限资源约束下运用系统方法和理论，从项目投资开始结束全过程进行计划、组织、指挥、协调、控制和评价保证企业团队准时、优质完成工作任务.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                         data-original="/static/index/images/items4.png" alt="img"/>
                    <div class="team-des">
                        <h4>定制开发</h4>
                        <span>专业</span>
                        <p class="text_index_p">
                            PC根据企业要求遵循软件工程规范，提供新建系统的方案和设想，并进行可行性分析，编码前进行系统概要设计和详细设计，在编程后进行软件测试、交付使用.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team -->

<!-- start service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">企业<span>网站</span>建设</h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <i class="fa fa-laptop"></i>
                <h4>网页设计</h4>
                <p>
                    UI工程师精心研究美学设计打造不凡视野效果，完美的交互体验结合流体理念让网站更出众,专业的WEB工程师结合现今高级技术使得PC与APP端相互自适应，从而让客户体验更流畅加上售后服务体系、服务流程完善，解决客户售后烦恼。</p>
            </div>
            <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                <i class="fa fa-cloud"></i>
                <h4>云计算</h4>
                <p>
                    PHP后台管理+云计算+密码保护+漏洞修补+图像数字化展示，让每一个使用我们产品的客户真心体验科技带来的方便，功能齐全的管理系统，让企业减轻物力财力是我们科技公司的使命;提供配套服务域名、云主机、企业邮箱、短信服务...</p>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <i class="fa fa-cog"></i>
                <h4>系统设置</h4>
                <p>
                    个性化的设计理念，让每位管理者真正的当家做主，结合自己的需求与想法设置自己的功能，高级工程师在研发的同时加强对客户设计使用的习惯，研发出多种设置方案，并保证程序的稳定性与兼容性，减少对客户产生的烦恼问题。</p>
            </div>
        </div>
    </div>
</section>
<!-- end servie -->
<!-- start portfolio -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>微信</span>小程序</h2>
            </div>
        </div>
        {foreach $programs as $items}
        <div class="row">
            {foreach $items as $item}
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img class="img-responsive img_height lazy" src="/static/index/images/loading.gif"
                         data-original="{$item.path[0]}"
                         alt="img"/>
                    <div class="portfolio-overlay">
                        <h4>{$item.name}</h4>
                        <p>{$item.sketch}</p>
                        <a href="{$item.link}" class="btn btn-default">了解更多</a>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        {/foreach}
        <div class="row text-center">
            <div class="wow fadeInRightBig" style="font-size:18px;margin-top: 20px;"><a href="/index/see/item"
                                                                                        style="text-decoration: none;color: #d6d6d6">加载更多</a>
            </div>
        </div>
    </div>
</section>
<!-- end portfolio -->
<!-- start Screenshot -->
<div id="screen" class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>网站</span>案例</h2>
            </div>
        </div>
        <div class="row top_bottm_width">
            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                     data-original="/static/index/images/dd.gif" alt="img"/>
            </div>

            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading" style="margin-top: 20px;display: inline-block">电脑端访问清晰</h3>
                <p class="lead">服务、客户两端加载缓存,CDN加速让浏览一触即发</p>
                <ul class="descp lead2">
                    <li><i class="glyphicon glyphicon-print"></i> 在线打印完美匹配</li>
                    <li><i class="glyphicon glyphicon-user"></i> 可靠的用户安全平台</li>
                    <li><i class="glyphicon glyphicon-upload"></i> 轻松安装大文件上传与下载</li>
                </ul>
            </div>
        </div>
        <div class="row top_bottom_width">
            <div class="col-sm-6 pull-left wow fadeInLeftBig">
                <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                     data-original="/static/index/images/pp.gif" alt="img"/>
            </div>

            <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
                <h3 class="section-heading" style="margin-top: 20px;display: inline-block">平板电脑端访问稳定</h3>
                <p class="lead">高速展示无卡顿,布局随屏幕改变,交互轻松方便</p>
                <ul class="descp lead2">
                    <li><i class="glyphicon glyphicon-cog"></i> 后台管理操作简单设置容易</li>
                    <li><i class="glyphicon glyphicon-cloud"></i> 阿里云计算帮助统计计算快捷</li>
                    <li><i class="glyphicon glyphicon-trash"></i> 删除一键搞定</li>
                </ul>
            </div>
        </div>
        <div class="row top_bottom_width">
            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive lazy" src="/static/index/images/loading.gif"
                     data-original="/static/index/images/ss.gif" alt="img"/>
            </div>

            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading" style="margin-top:20px;display: inline-block">手机端访问简洁</h3>
                <p class="lead">响应式布局设计让用户体验敢强,多点触控跳转灵敏,UI设计师保证功能不便的情况下让布局通俗易懂.</p>
                <ul class="descp lead2">
                    <li><i class="glyphicon glyphicon-home"></i> 首页扁平化功能按键操作交互敢强.</li>
                    <li><i class="glyphicon glyphicon-search"></i> SEO优化搜索一键完成需求查询.</li>
                    <li><i class="glyphicon glyphicon-lock"></i> 高级多到拦截、加密系统更好的安全措施.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
                <p class="lead wow bounceIn" style="margin-top:0">网站案例</p>
            </div>
        </div>
        {foreach $webs as $items}
        <div class="row wow fadeInUpBig">
            {foreach $items as $item}
            <div class="col-md-4 text-center animate-box" style="margin-bottom: 10px">
                <div class="product">
                    <div class="product-grid">
                        <span class="sale">{$item.attributes}</span>
                        <img class="lazy" src="/static/index/images/loading.gif"
                             data-original="{$item.path[0]}"
                             alt="img"/>
                        <div class="inner">
                            <p>
                                <a href="/index/see/exp/?code={$item.id}" class="icon"><i
                                        class="glyphicon glyphicon-eye-open">查看详情</i></a>
                            </p>
                        </div>

                    </div>
                    <div class="desc">
                        <h3><a href="/index/see/exp/?code={$item.id}">{$item.name}</a></h3>
                        <span class="price">{$item.unit}{$item.nowprice}</span>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        {/foreach}
        <div class="row text-center">
            <div class="wow fadeInRightBig" style="font-size:18px;margin-bottom: 20px"><a href="/index/see/web"
                                                                                          style="text-decoration: none;color: #d6d6d6">加载更多</a>
            </div>
        </div>
    </div>
</div>
<!-- end Screenshot -->
<!--start dynamic-->
<section id="dynamic">
    <div class="container">
        <div class="col-md-12">
            <h2 class="wow bounceIn " data-wow-offset="50" data-wow-delay="0.3s">资<span>讯</span></h2>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="total_div wow fadeInLeftBig">
                    <div class="banner_theme" style="position: relative">
                        <img class="lazy" src="/static/index/images/loading.gif"
                             data-original="<?php echo $data[0]['thumb'][0]; ?>" alt="img"/>
                        <p class="new_article_p">新闻资讯</p>
                        <p class="title_article_p">{$data[0]['title']}</p>
                    </div>
                    <ul style="margin-bottom: 20px">
                        {foreach $data as $item1}
                        <li>
                            <a href="/index/see/con/?code={$item1.id}">
                                <span class="dynamic_text_link">{$item1.publish_time} {$item1.title}</span>
                                <img class="lazy" src="/static/index/images/loading.gif"
                                     data-original="{$item1.thumb[0]}" alt="img"/>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">

                <div class="total_div wow fadeInRightBig">
                    <div class="banner_theme">
                        <img class="lazy" src="/static/index/images/loading.gif"
                             data-original="<?php echo $data2[0]['thumb'][0]; ?>" alt="img"/>
                        <p class="new_article_p">行业资讯</p>
                        <p class="title_article_p">{$data2[0]['title']}</p>
                    </div>
                    <ul style="margin-bottom: 20px">
                        {foreach $data2 as $item}
                        <li>
                            <a href="/index/see/con/?code={$item.id}">
                                <span class="dynamic_text_link">{$item.publish_time} {$item.title}</span>
                                <img class="lazy" src="/static/index/images/loading.gif"
                                     data-original="{$item.thumb[0]}" alt="img"/>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!--end dynamic-->
<!-- start contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">关注<span>留言</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <!--<form action="#" method="post">-->
                <label>姓名</label>
                <input name="fullname" type="text" class="form-control" id="full_name" placeholder="姓名">

                <label>邮箱/手机号</label>
                <input name="text" type="text" class="form-control" id="email_phone" placeholder="联系方式">

                <label>内容</label>
                <textarea name="message" rows="4" class="form-control" id="message_txt">留言内容:</textarea>

                <input type="button" class="form-control" id="click_submit_id" value="预约提交">
                <!--</form>-->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <address>
                    <p class="address-title">公司简介</p>
                    <span>公司自组建以来先后与多家知名企业建立了合作关系，如国际知名企业阿里、京东，国内知名企业锐凌微、智云起点、青岛佳明测控等公司拥有非常优秀的技术团队,令企事业单位得到最优质的服务和最好的投资回报.</span>
                    <p><a href="tel://0532-80913872" rel="nofollow" title="电话" style="color: #fff;text-decoration:none"><i
                            class="fa fa-phone"></i>0532-80913872</a></p>
                    <p><a href="http://mail.sina.com.cn/" rel="nofollow" title="邮箱"
                          style="color: #fff;text-decoration:none"><i
                            class="fa fa-envelope-o"></i>tengyujsj@sina.com</a></p>
                    <p data-toggle="modal" data-target="#myModal" style="cursor: pointer"><i
                            class="fa fa-map-marker"></i>青岛市李沧区湘潭路53号402室</p>
                </address>
                <ul class="social-icon">
                    <li><h4>了解更多</h4></li>
                    <li><a href="http://www.baidu.com" class="glyphicon glyphicon-new-window"></a></li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2181483809&site=qq&menu=yes" rel="nofollow"
                           style="border: none;background: transparent"><img src="/static/index/images/qq.gif" alt="qq"
                                                                             style="width: 60%"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">青岛腾宇计算机</h4>
            </div>
            <div class="modal-body">
                <iframe src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3218.5830562397273!2d120.40504831505744!3d36.225327980071164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35966cf400dce76f%3A0x85ccd13080891056!2z5bGx5Lic55yB6Z2S5bKb5biC5p2O5rKn5Yy65rmY5r2t6LevNTPlj7c!5e0!3m2!1szh-CN!2scn!4v1524023655600"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
{include file="public/footer"/}
<script type="text/javascript" src="/static/admin/lib/layer/2.4/layer.js"></script>
<script src="/static/index/js/jquery.singlePageNav.min.js"></script>
<script src="/static/index/js/jquery.waypoints.min.js"></script>
<script src="/static/index/js/typed.js"></script>
<script src="/static/index/js/custom.js"></script>
</body>
</html>