<!-- start copyright -->
<style>#copyright p{font-family: "Microsoft yahei", Arial, Helvetica, STHeiti, "宋体", sans-serif;color: #f1f1f1}</style>
<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p data-wow-offset="5" data-wow-delay="0.3s">Copyright&copy;2014-2017
                    腾宇计算机所有
                    鲁ICP备17027470</p>
            </div>
        </div>
    </div>
</footer>
<!-- end copyright -->
<script src="/static/index/js/jquery-1.9.1.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="/static/index/js/jquery.lazyload.min.js"></script>
<script src="/static/index/js/wow.min.js"></script>
